
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-image: url('../images/weather_background2.jpg');
    font-family: 'Oleo Script Swash Caps', serif;
    
 
    /* margin: 0;
    display: flex grid; */
}

header {
    color: white;
    
}

.container {
    color: rgb(249, 66, 136);
    padding: 3px;
    
}

#question {
    font-weight: bold;
    width: 60%;
    text-align: left;
    margin-top: 25px;
    margin-left: 20%;
    font-size: 40px;
    color: rgb(249, 66, 136);
}


.section-title {
    padding-bottom: 15px;
    font-size: 50px;
} 


.search {
    margin: 5px;
   
}

ul {
    list-style-type: none;
}

.forecast-header {
    margin: 10px;
}

#forecast-cards {
    justify-content: space-around;
    color: white;
    /* font-weight: bold; */
}

/* #user-form.card-body {
    width: 20%;
} */

.card-content {
    margin: 30px;
}

.current-weather, .weather-input {
    margin: 0px;
    /* font-weight: bold; */
}

.weather-container {
    margin-top: 5px;
    margin: 10px auto;
    background-color:rgb(254, 254, 254);
    padding: 40px 40px;
    border-radius: 10px;
    opacity: 80%;
}

.card {
    background-color:  rgb(249, 66, 136);
    /* background-color: rgb(249, 66, 167); */
}

.btn {
    background-color:rgb(254, 254, 254);
    font-weight: bold;
    
}

@media only screen and (max-width: 600px) {
    textarea {
      width: 65vw;
    }
  
  }

